<!doctype html>
<html class="no-js" lang="">
    <title>Coderek's Sites</title>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="Talk the talk, code the code">
        <meta name="keywords" content="Python, JavaScript, Software, Django">
        <meta name="author" content="Derek Zeng">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <link href='https://fonts.googleapis.com/css?family=Headland+One' rel='stylesheet' type='text/css'>
        {% compress css %}
        {{static('blog/home.scss')}}
        {% endcompress %}
    </head>
    <body>
        <header class="banner">
            <div class="content">
                <h1>Coderek's Blog</h1>
            </div>
        </header>
        <nav class="menu">
            <div class="content">
                <ul>
                    <li><a href="{{ url('blog') }}">Blog</a></li>
                    <li><a href="{{ url('reader') }}">Reader</a></li>
                </ul>
            </div>
        </nav>
        <div class="content body">
            <div class="main">
                {% block main %}{% endblock %}
            </div>
            <nav class="side-menu">
                <div class="input-group">
                    <form action="/posts/search">
                        <input class="search" type="text" name="search_term">
                        <button class="Search Button">Search</button>
                    </form>
                </div>
                {% include 'blog/recent_posts.html' %}
{#                {% include 'blog/contacts.html' %}#}
            </nav>
        </div>
        {% include 'blog/footer.html' %}
        <footer>
            <div class="content">
                <div>
                    coderek @ 2016
                </div>
            </div>
        </footer>
    </body>
</html>

