{% extends 'blog/base.html' %}

{% block content %}
    <div class="article">
        <div class="title">
            {{ p.title }}
        </div>
        {% if p.created_at %}
            <time>{{ p.created_at.strftime('%Y-%m-%d') }} </time>
        {% endif %}
        <div class="body">
            {{ p.body_text|safe }}
        </div>
        {% if logged_in %}
            <a href="{{ url('admin:blog_post_change', args=(p.id,)) }}">Edit</a>
        {% endif %}
    </div>

    {# include 'blog/comments.html' #}

{% endblock %}
