django>=1.9,<2.0
jinja2
MySQL_python
markdown2
feedparser==5.2.1
pytz
PyYAML
dropbox
django-libsass
django_compressor
markupsafe
lxml
request
Pillow
djangorestframework
django-filter
markdown
django-extensions
