.article {
    margin-bottom: 30px;
    border-radius: 10px;
    color: #333;
    /*font-family: 'Headland One', serif;*/
    font-size: 1em;
    padding: 5px 30px;

    code {
    }
    pre {
        max-width: 100%;
        overflow-x: auto;
        padding: 10px;
        color: #636060;
    }

    .title {
        margin-top: 20px;
        border-left: 10px solid #aaa;
        padding-left: 10px;
        margin-bottom: 10px;
        font-size: 14pt;
    }

    .title time {
        margin-bottom: 10px;
        display: block;
        font-size: 80%;
        color: lighten(#888, 5%);
    }

    .more {
        a {
            color: #aaa;
        }
        margin-top: 20px;
        margin-right: 10px;
    }

    .body {
        p:first-child {
            margin-top: 30px;
        }
        p {
            margin-bottom: 30px;
            text-indent: 20px;

        }
        code {
            color: #636060;
            padding: 0px;
            background: antiquewhite;
        }

        pre {
            background: antiquewhite;
            border: 1px solid #888;
            code {
                border: none;
                color: #636060;
                padding: 0 2px;
            }
        }
    }

    .body:after {
        content: 'E.O.A';
    }

}

