html {
    width: 100%;
    font-family: monospace;
}
body {
    width: 100%;
    background-color: milk;
    margin: 10px auto;
}

header h1 {
}

.content {
    width: 80%;
    padding: 10px;
    margin: 0 auto;
}

.content.body {
    display: flex;
    border: 1px solid #eee;
}

.content .main {
    flex: 1 1 auto;
}

.main + nav {
    flex: none;
    width: 300px;
}


a {
    text-decoration: none;
    color: black;
}

.menu li {
    padding: 4px;
    border: #ddd;
    float: left;
    list-style: none;
    width: 60px;
}

.menu {
    background: #eee;
}

ul:after {
    content: ' ';
    display: block;
    clear: both;
}

div.article {
    margin-bottom: 30px;
    border-radius: 10px;
    color: #333;
    /*font-family: 'Headland One', serif;*/
    font-size: 1em;
    padding: 5px 10px;
}

.article pre {
    word-wrap: break-word;
}

.article .title {
    margin-bottom: 10px;
    font-size: 14pt;
}

.article .title + time {
    margin-bottom: 10px;
    display: block;
}

.article .more {
    margin-top: 10px;
    margin-right: 10px;
    text-align: right;
}

nav.side-menu {
    border-left: 1px solid #eee;
    padding-left: 4px;
    padding: 10px;
}

nav.side-menu ul {
    list-style: none;
    padding: 0;
}

nav.side-menu li {
    padding: 0;
    margin: 0;
}

input.search {
    width: 200px;
}


