$rad: 10px;

html {
    width: 100%;
}
body {
    background-color: #333;
    width: 100%;
    margin: 10px auto;
}

header {
    h1 {
        margin: 0;
        padding: 10px;
    }
    .content {
        border-top-left-radius: $rad;
        border-top-right-radius: $rad;
    }
}

footer {
    div {
        padding: 0 10px;
    }
    .content {
        border-bottom-left-radius: $rad;
        border-bottom-right-radius: $rad;
    }
}

.content {
    width: 60%;
    padding: 10px;
    background-color: #eee;
    margin: 0 auto;

    .main {
        max-width: 100%;
        flex: 1 1 auto;
    }

    .main + nav {
        /* disable side menu first */
        display: none;

        flex: none;
        width: 30%;
    }

}

.content.body {
    display: flex;
}


a {
    text-decoration: none;
    color: black;
    word-break: break-all;
}

.menu {
    background: #aaa;
    margin: 0 -10px;
    li {
        padding: 4px;
        border: #ddd;
        float: left;
        list-style: none;
        width: 60px;
    }
}

ul:after {
    content: ' ';
    display: block;
    clear: both;
}

nav.side-menu {
    border-left: 1px solid #eee;
    padding-left: 4px;
    padding: 10px;
}

nav.side-menu {
    ul {
        list-style: none;
        padding: 0;
    }
    li {
        padding: 0;
        margin: 0;
    }
}

input.search {
    max-width: 200px;
}

@import './article';
@import './responsive';
