<div class="controls">
    <button class="js-refresh-feed btn btn-default">Refresh</button>
    <button class="js-delete-feed pull-right btn btn-danger">Delete</button>
</div>
<div class="entries"></div>

