<div class="controls">
    {{#if authed}}
        <button class="js-refresh-feed btn btn-default">Refresh</button>
    {{/if}}
    <span class='feed-title'>{{ title }}</span>
    {{#if authed}}
        <button class="js-delete-feed pull-right btn btn-danger">Delete</button>
    {{/if}}
</div>
<div class="entries"></div>

