<div class="feed-meta">
    <div class="title">{{ title }}</div>
    <div class="description">{{ description }}</div>
</div>
<div class="entries-count">
    <span>
        {{ count }}
    </span>
</div>
