<form>
    <h3>Create a feed</h3>

    <div>
        <label for="new_feed_url">Feed url: </label>
    </div>

    <div>
        <input type="text" name="new_feed_url" id="new_feed_url">
    </div>

    <div>
        <label for="new_feed_category">Category: </label>
    </div>
    <div>
        <select id="new_feed_category" name="category">
            <option value="1">Default</option>
        </select>
    </div>


    <div>
        <button>Submit</button>
    </div>

</form>
