<div class="row">
    <div class="col-md-4">
        <strong>Geek Reader</strong>
    </div>
    {{#if authed }}
    <div class="col-md-4 col-md-offset-4">
        <div class="pull-right">
            <button id="add_feed" class="btn btn-primary btn-xs">Add feed</button>
        </div>
    </div>
    {{/if}}
</div>
