<div class="row">
    <div class="col-md-4">
        <h4>Geek Reader</h4>
    </div>
    <div class="col-md-4 col-md-offset-4">
        <div class="pull-right">
            <button id="add_feed" class="btn btn-primary">Add feed</button>
        </div>
    </div>
</div>
