@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";

$top_bg_color: #ddd;
$bottom_bg_color: #ddd;
$left_region_border_color: #ddd;
$right_region_border_color: #ddd;
$entry_border_color: #ddd;



html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
#reader {
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* align items in Main Axis */
    align-items: stretch; /* align items in Cross Axis */
    align-content: stretch; /* Extra space in Cross Axis */

    #top_region {
        background-color: $top_bg_color;
        flex: 0 1 auto;
        padding: 5px;
        z-index: 10;
        box-shadow: 0 1px 10px #333;
    }
    #middle_region {
        flex: 1; /* same as flex: 1 1 auto; */

        display: flex;
        flex-direction: row;
        
        // justify-content: flex-start; /* align items in Main Axis */
        // align-items: stretch; /* align items in Cross Axis */
        // align-content: stretch; /* Extra space in Cross Axis */

        .middle-layout {
            display: flex;
            width: 100%;
            .left.region {
                border: 1px solid $left_region_border_color;
                width: 200px;
                flex: none;
                overflow: auto;

                .feeds {
                    padding: 0;
                    .feed {
                        .description {
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            overflow: hidden;
                        }
                        &.selected {
                            background-color: #eee;
                        }
                        cursor: pointer;
                        &:hover {
                            background-color: #eee;
                        }
                        margin: 0;
                        padding: 4px;
                        border-top: 1px solid #eee;
                        .title {
                            font-weight: bold;
                        }
                        .description {
                            font-size: 0.9em;
                            color: #333;
                            font-style: italic;
                        }
                    }
                }
            }
            .right.region {
                border: 1px solid $right_region_border_color;
                flex: 1;
                overflow: auto;
                .entry.open .content {
                    display: block;
                }
                .entry {
                    background-color: #ffe;
                    &.new {
                        background-color: #fff;
                    }
                    border-top: 1px solid $entry_border_color;
                    padding: 10px;
                    .title-and-time {
                        display: flex;
                        a {
                          flex: none;
                        }
                        time {
                          width: 100px;
                          text-align: right;
                        }
                        .title {
                          flex-grow: 1;
                        }
                    }
                    .title {
                        font-size: 1em;
                        cursor: pointer;
                        user-select: none;
                    }

                    .content {
                        *:not(img) {
                          max-width: 100%;
                        }
                        img {
                          max-width: 50%;
                          height: auto;
                          float: left;
                          margin: 10px;
                        }
                      
                        display: none;
                        background-color: #eee;
                        border-top: 1px solid black;
                        margin: 10px;
                        padding: 10px;
                        width: 100%;
                        overflow: auto;
                    }
                }
            }
        }
    }
    #bottom_region {
        @extend .inset-text;
        box-shadow: 0 -1px 10px #333;
        z-index: 10;
        background-color: $bottom_bg_color;
        padding: 10px;
        color: #888;
        font-size: 0.8em;
        flex: 0 1 auto;
    }
}

.empty-view {
    text-align: center;
    padding: 20px;
}

.inset-text {
    text-shadow: 1px 4px 6px #def, 0 0 0 #000, 1px 4px 6px #def;
    /* Don't show shadows when selecting text */
    &::-moz-selection { background: #5af; color: #fff; text-shadow: none; }
    &::selection { background: #5af; color: #fff; text-shadow: none; }
}

.controls {
    padding: 4px;
    background-color: #456;
    button {
        @extend .btn-xs;
    }
}
