html, body {
    background-color: #aaa;
    margin: 0;
    padding: 0;
    height: 100%;
}

#reader {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
}

#reader>div {
    border-top: 1px solid #eee;
}
#reader>:nth-child(2) {
    flex: 1 0 auto;
}

#reader>:first-child {
    height: 50px;
    flex: none;
}

#reader>:last-child {
    flex: none;
    height: 50px;
}

#reader>.body {
    display: flex;
}

#feeds_manager {
    width: 200px;
    flex: none;
}
#feeds_manager ul {
    list-style: none;
    padding-left: 10px;
}
#feeds_manager ul li {
    margin: 4px;
}
#feeds_manager ul li div:nth-child(2) {
    font-size: 90%;
    padding-left: 4px;
    color: #333;
}

#entries_manager {
    overflow: auto;
}

#entries_manager .entries  {
}
