@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
#reader {
    padding: 0;
    width: 100%;
    height: 100%;
    border: 1px solid green;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* align items in Main Axis */
    align-items: stretch; /* align items in Cross Axis */
    align-content: stretch; /* Extra space in Cross Axis */

    #top_region {
        height: 50px;
        flex: none;
        border: 1px solid blue;
    }
    #middle_region {
        flex: 1; /* same as flex: 1 1 auto; */

        display: flex;
        flex-direction: row;
        
        // justify-content: flex-start; /* align items in Main Axis */
        // align-items: stretch; /* align items in Cross Axis */
        // align-content: stretch; /* Extra space in Cross Axis */

        .middle-layout {
            display: flex;
            width: 100%;
            .left.region {
                border: 1px solid red;
                width: 200px;
                flex: none;

                .feeds {
                    padding: 0;
                    .feed {
                        &.selected {
                            background-color: #eee;
                        }
                        cursor: pointer;
                        &:hover {
                            background-color: #eee;
                        }
                        margin: 0;
                        padding: 4px;
                        border-top: 1px solid #eee;
                        .title {
                            font-weight: bold;
                        }
                        .description {
                            font-size: 0.9em;
                            color: #333;
                            font-style: italic;
                        }
                    }
                }
            }
            .right.region {
                border: 1px solid red;
                flex: 1;
                overflow: auto;
                .entry {
                    border-top: 1px solid pink;
                    padding: 10px;
                    .title {
                        margin: 10px 5px;
                        font-size: 2em;
                    }
                    .body {
                        padding: 10px;
                    }
                }
            }
        }
    }
    #bottom_region {
        height: 50px;
        flex: none;
        border: 1px solid blue;
    }
}

